DB_HOST=#データベースホスト

POSTGRES_USER=#任意のユーザー名
POSTGRES_PASSWORD=#任意のパスワード
POSTGRES_DB=#任意のデータベース名

#上記の変数で書き換える
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}/${POSTGRES_DB}?schema=public"

JWT_SECRET=#任意のjwt_secret
