BACKEND_PORT=#バックエンドのポート番号

ALLOWED_ORIGINS=#フロントエンドURI

DB_HOST=#データべースホスト

POSTGRES_USER=#任意のユーザー名
POSTGRES_PASSWORD=#任意のパスワード
POSTGRES_DB=#任意のデータベース名

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}/${POSTGRES_DB}?schema=public"

JWT_SECRET=#任意のjwt_secret

REDIS_HOST=#redisホスト

REDIS_URL="redis://${REDIS_HOST}"

SESSION_TTL_DAYS=#セッションの有効日数

TOKEN_TTL_DAYS=#リフレッシュトークンの保存期間
